body {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
}

section:not(.section-post) {
    padding: 80px 0;
}

header {
    height: 85px;
    display: flex;
    align-items: center;
    background-color: white;
}

#ImagemPrincipal {

    position: relative;
    left: 40px;
    bottom: 1px;
}

input[type=text] {
    color: #2d2d6c;
    border-color: black;
    position: relative;
    left: 130px;
    border-radius: 15px;
    font-size: 20px;
}

li {
    position: relative;
    left: 120px;
    font-size: 15px;
    margin-left: 35px;
    display: inline;
}

#carrinho {

    position: relative;

}

#BemVindo {

    position: relative;
    left: 550px;

}

#fotoperfil {

    position: relative;
    left: 550px;


}

#fav {

    position: relative;
    left: 60px;

}

#ad {

    position: relative;
    right: 0px;

}

#rectangle {
    position: relative;
    bottom: 466.3px;
    left: 1000px;
    width: 903.5px;
    height: 462.5px;
    background: #D9D9FF;
 
}

#txtad {
    position: relative;
    top: 110px;
    left: 40px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;

}

.itensavenda{

    display: flex;
    width: 71.5vw;
    height: 5vw;

}

#bloco1{

    position:relative;
    width: 397px;
    height: 471px;
    background: #D9D9FF;
    top: -479px;
    right: -200px;
    border-radius: 20px;
}

#img1{

    position: relative;

    right: -57.5px;
    bottom: -48px;
}

#txt1{

    position: relative;
    right: -1.55px;
    bottom: -15px;
    font-size: 23px;
}

#preco1{

    color: #00008B;
    position: relative;
    left: 100px;
}

#bloco2{

    position:relative;
    background: #D9D9FF;
    width: 397px;
    height: 471px;
    right:-370px; 
    top: -479px;
    border-radius: 20px;

}

#img2{

    position: relative;

    right: -57.5px;
    bottom: -48px;
}

#txt2{

    position: relative;
    right: -39.55px;
    bottom: -4px;
    font-size: 23px;
}

#preco2{

    color: #00008B;
    position: relative;
    top: -10px;
    left: 55px;
}

#bloco3{

    position:relative;
    width: 397px;
    height: 471px;
    background: #D9D9FF;
    border-radius: 20px;
    top:-479px;
    right:-533.5px;

}

#img3{

    position: relative;

    right: -57.5px;
    bottom: -48px;
}

#txt3{

    position: relative;
    right: -12.55px;
    bottom: -4px;
    font-size: 23px;
}

#preco3{

    color: #00008B;
    position: relative;
    top: -10px;
    left: 80px;
}


.itensavenda2{

    display: flex;
    width: 71.5vw;
    height: 45vw;

}

#bloco4{

    position:relative;
    width: 397px;
    height: 471px;
    background: #D9D9FF;
    border-radius: 20px;
    right: -200px;
    top:-80px;
}

#img4{

    position: relative;

    right: -57.5px;
    bottom: -48px;
}

#txt4{

    position: relative;
    right: 25.55px;
    bottom: -4px;
    font-size: 23px;
}

#preco4{

    color: #00008B;
    position: relative;
    top: -10px;
    left: 115px;
}


#bloco5{

    position:relative;
    width: 397px;
    height: 471px;
    background: #D9D9FF;
    border-radius: 20px;
    right:-370px;
    top:-80px;

}

#img5{

    position: relative;

    right: -57.5px;
    bottom: -48px;
}

#txt5{

    position: relative;
    right: -45px;
    bottom: -4px;
    font-size: 23px;
}

#preco5{

    color: #00008B;
    position: relative;
    top: -10px;
    left: 57.55px;
}

#bloco6{

    position:relative;
    width: 397px;
    height: 471px;
    background: #D9D9FF;
    border-radius: 20px;
    right:-533.5px;
    top:-80px;

}

#img6{

    position: relative;

    right: -57.5px;
    bottom: -48px;
}

#txt6{

    position: relative;
    right: -45px;
    bottom: -4px;
    font-size: 23px;
}

#preco6{

    color: #00008B;
    position: relative;
    top: -10px;
    left: 57.55px;
}




.Ajuda{
    position: relative;
    display:grid;
    
}

*{

   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
footer{

background:black;
height: auto;
width: 100vw;
font-family: "Open Sans";
padding-top: 40px;
color: white

}
.footer-content{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{

font-size: 1.8rem;
font-weight: 400;
text-transform: capitalize;
line-height: 3rem;

}

.footer-content p{

max-width: 500px;
margin: 10px auto;
line-height: 28px;
font-size: 14px;

}

.socials{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}
.socials li{

margin: 0 10px;

}

.socials a{
    position: relative;
    right: 121px;
    text-decoration: none;
    color: white
}

.socials a i{

    font-size: 1.1rem;
    transition: color .4s ease;

}

.socials a:hover i{
color: blueviolet;

}

.footer-bottom{

background: black;
width: 100vw;
text-align: center;

}

footer-bottom p{

font-size: 14px;
word-spacing: 2px;
text-transform: capitalize;

}

.footer-bottom span{

    font-size: 13px;
text-transform: uppercase;
font-weight: 200;
color: white
}